In [14]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets
import pandas as pd
iris = datasets.load_iris()
x = iris.data
y = iris.target

In [10]:
x.shape

(150, 4)

In [11]:
y.shape

(150,)

In [20]:
df = pd.DataFrame(x)
df.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [19]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [23]:
shuffle_indexes = np.random.permutation(len(x))

In [24]:
shuffle_indexes

array([146,  76,  48,  57,  70,  12,  20, 143,   9,   2,   6,  37,  24,
        31,  99,  55,  85,  26,  17,  16,  10,  81, 137, 141,  62,  14,
       109,  47,  78,  91, 117,   5, 106,  28,   8,  33,  80,  86,  54,
       123, 140, 135,  18, 122,  21,  77,  79,  32,  90,  73, 124,  29,
       115,  58, 119,  13, 127, 118,  65, 136, 107,  50,  95,  59,  84,
       110,  74, 125,  93, 149,  42, 129, 130,   7, 148,  82, 138,   1,
        64,  94, 104, 105, 111,  35, 121,  56, 126,  72, 100,  87,  52,
       139,  34,  45, 120,  51,  25,  49, 142, 112,  53,   0, 144,  23,
       108,  66,  67,  11,  22, 103, 102, 116, 134,  89,  96,  68,  30,
       101,  41,  63,  88, 132,  43,  40,  71,  27,   4,  44,  92,  97,
       133, 131, 145,  75,  83,  60, 113, 147, 128,  39, 114,  46,  38,
         3,  98,  15,  61,  36,  19,  69])

In [29]:
# 确定测试数据集占20%
testdata_ratio = 0.2
# 计算测试数据集个数
testdata_size = int(len(x) * testdata_ratio)

# 确定训练数据集和测试数据集索引范围
train_indexes = shuffle_indexes[testdata_size:]
test_indexes = shuffle_indexes[:testdata_size]

In [30]:
x_train = x[train_indexes]
y_train = y[train_indexes]

x_test = x[test_indexes]
y_test = y[test_indexes]

In [31]:
print(x_train.shape)
print(y_train.shape)

(120, 4)
(120,)

In [32]:
print(x_test.shape)
print(y_test.shape)

(30, 4)
(30,)